name: Lint

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  MISE_VERSION: 2025.12.13

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        with:
          version: ${{ env.MISE_VERSION }}

      - name: Setup Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # 5.6.0
        with:
          go-version-file: go.mod

      - name: Install dependencies
        run: mise download-deps

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # 9.2.0
        with:
          timeout-minutes: 5m
