name: Release images/helm chart

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  contents: write
  packages: write

env:
  HELM_VERSION: 3.14.0

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  helm:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: '${{ env.HELM_VERSION }}'


      - name: Extract version
        id: version
        run: |
          RAW_VERSION="${GITHUB_REF_NAME}"
          echo "VERSION=$RAW_VERSION" >> $GITHUB_OUTPUT

      - name: Set Helm chart version
        run: |
          sed -i "s/^version:.*/version: ${${{ steps.version.outputs.VERSION }} }/" \
            charts/pod-deletion-cost-controller/Chart.yaml

      - name: Set Helm appVersion
        run: |
          sed -i "s/^appVersion:.*/appVersion: \"${{ steps.version.outputs.VERSION }}\"/" \
            charts/pod-deletion-cost-controller/Chart.yaml

      - name: Publish Helm chart
        uses: bsord/helm-push@v4
        with:
          useOCIRegistry: true
          registry-url: oci://ghcr.io/${{ github.repository }}
          username: ${{ github.repository_owner }}
          access-token: ${{ secrets.GITHUB_TOKEN }}
          chart-folder: charts/pod-deletion-cost-controller

  image:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta for tag
        id: meta-tag
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/lablabs/pod-deletion-cost-controller
          flavor: |
            latest=true
          tags: |
            type=ref,event=tag

      - name: Build image and push to GitHub Container Registry
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta-tag.outputs.tags }}
          labels: ${{ steps.meta-tag.outputs.labels }}
          annotations: ${{ steps.meta-tag.outputs.annotations }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}