name: E2E/Integration Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

env:
  MISE_VERSION: 2025.12.13

jobs:
  test-e2e:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        with:
          version: ${{ env.MISE_VERSION }}

      - name: Setup Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # 5.6.0
        with:
          go-version-file: go.mod

      - name: Install kind
        run: mise install kind

      - name: Running Test e2e in kind
        run: mise test-e2e
